.container {
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}
body{
    background: #FFFFFF;
}
.header input {
    width: 28%;
    padding: 6px;
}
#header{
    background: #032541;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

.popular {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: start;
}

.popular img {
    box-shadow: 0 0 1px 1px white;
}

.popular--tittle {
    padding: 30px 0;
    text-align: center;
}

.popular--tittle h5 {
    padding: 10px;
}

.details__item {
    display: flex;
    align-items: start;
    justify-content: space-around;
    padding: 100px 0;
}

.details__item img {
    width: 250px;
    border: 3px solid orange;
    box-shadow: 0 0 10px 10px gray;
    padding: 20px;
}

.details__item--text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
}

.details__item--text h1 {
    color: wheat;
}

.details__item--text h2 {
    color: darkgoldenrod;
}

.details__item--text span {
    background: darkslategrey;
    color: white;
    border-radius: 50%;
    padding: 15px;
    font-weight: 700;
    border: 5px solid blueviolet;
    box-shadow: 0 0 5px 5px darkgreen;
    margin: 15px;
}

.details__item--text h3 {
    padding: 50px 0 100px 0;
    color: blueviolet;
}

.details__item--text p {
    color: beige;
    font-size: 15px;
}

.actors {
    padding-bottom: 150px;
    text-align: left;
}

.actors img {
    width: 140px;
    box-shadow: 2px 2px gray;
    border-radius: 5px;
    background: snow;
    padding: 2px;
}

iframe {
    margin-bottom: 150px;
}

.deg img {
    width: 140px;
    box-shadow: 2px 2px gray;
    border-radius: 5px;
    background: snow;
    padding: 2px;
}

.deg {
    padding-bottom: 100px;
}

.MorePage {
    display: flex;
    align-items: start;
    padding: 70px;
}

.MorePage img {
    width: 250px;
    border: 3px solid orange;
    box-shadow: 0 0 10px 10px gray;
    padding: 20px;
    margin-right: 100px;
}

.MorePage h3 {
    padding-top: 50px;
}

iframe {
    height: 200px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    color: red;
}

.loader {
    width: 50px;
    height: 50px;
    animation: render 2s linear infinite;
}

@keyframes render {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}